//fonts 
@import url('https://fonts.googleapis.com/css?family=Roboto:300');

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}


header {
  background-image: url('../img/street.jpg');
  background-size: cover;
  color: #fff;
  height: 55vh;
  

  .name {
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
    margin: 0;
    padding: 5vh 0 0 10vw;
  }

  .titles, .accomps {
    color: #fff;
    padding: 3vh 0 0 10vw;
  }

  .titles {
    li {
      display: inline;
      background-color: rgba(221, 221, 221, 0.5);
      border-radius: 15px;
      padding: 5px 7px;
    }
  }

  .accomps {
    li {
      display: inline;
      padding: 1vw;
    }
  } 
}

.fabPicFlex {
  display: flex;
  justify-content: space-between;

  .profilePic  {
    border-radius: 50%;
    z-index: 5;
    margin: 5vh 0 0 5vw;
  }
  .follows {
    margin-right: 5vw;
    z-index: 5;

    p {
      margin-right: 25vw;
      z-index: 5;
      color: #000;
      position: relative;
      top: 15vh;
      right: 5vh;
    }
    .FAB {
      z-index: 5;
      text-align: center;
      height: 100px;
      width: 100px;
      background: #aaa;
      color: #fff;
      font-size: 5em;
      border-radius: 50%; 
      position: relative;
      top: 5vh;
      left: 50vw;
    }
  }
} 


.followsFlex {
  display: flex;

}

  .diagonal {
    height: 25vh;
    width: 105vw;
    overflow: hidden;

    position: relative;
    top: -10vh;
    left: -2vw;
    z-index: 2;
    background-color: #fff;
    transform:skew(0deg,-5deg);
    -ms-transform:skew(0deg,-5deg);
    -webkit-transform:skew(0deg,-5deg);
    box-shadow:  inset 10px 5px 5px #999;
  }

  // Starting main section 
  .main {
    width: 80vw;
    margin: 0 auto;
  }

  .movies {  
    h3 {
      text-align: center;
    }

    .movieFlex {
      display: flex;
      background-color: #a1a1a1;  


      h4 {
        text-align: center;
      }
    }

  }
